@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arimo&display=swap');
* {
--smoky-black: #1D0A05ff;
--sinopia: #CE4A1Eff;
--light-slate-gray: #82909Fff;
--rufous: #9B2E0Fff;
--blood-red: #571404ff;
--barn-red: #77220Dff;
}

#body {
    background-color: var(--light-slate-gray);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
#rock-image {
    width: 100vw;
}

#info { 
    color: rgba(160, 56, 22, 0.774);
    font-family: Abel, sans-serif;
    font-weight: 600;
    font-size: x-large;
    background-color: var(--light-slate-gray);
    display: block;
    
}
}
#main {
    font-weight: 900;
    color: black;
    
}

#description {
    color: black;
}

#email {
    background: rgb(230, 217, 217);
    width: 100%;
    height: 30px;
    max-width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px, 20px;
    font-size: 25px;
    color:rgba(168, 87, 21, 0.774)
}
#form {
    font-family: Abel;
    font-size: 25px;
    width: 100%;
    text-align: left;
    padding-left: 100px;
    background-color: var(--rufous);
}

#button {
    color: rgb(58, 29, 25);
    background: rgba(168, 87, 21, 0.774);
    font-family: Abel;
    font-size: 1.5rem;
    width: 100%;
    border:rgba(160, 56, 22, 0.774);
    margin-bottom: 60px;
    max-width: 200px;
}

#button:hover {
    background-color: #CE4A1Eff;
}


